<h1>Using Rebound</h1>

<div class="test1">
  <h3>Test 1</h3>
  <p>Bounce when icon is clicked.</p>
  <center>
    <span class="step size-96" id="test1_btn">
      <i class="icon ion-android-archive"></i>
    </span>
  </center>
  <hr>
</div>

<div class="test2">
  <h3>Test 2</h3>
  <span class="step size-96">
    <i class="icon ion-android-arrow-back"></i>
  </span>
  <span class="step size-48">
    <i class="icon ion-android-arrow-forward"></i>
  </span>
  <hr>
</div>

<script src="javascripts/rebound.min.js"></script>
<script src="javascripts/rebound/rebound_experiment.js"></script>
